<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thesis project</title>
</head>
<body>
    <h1>Document layout analysis</h1>
	<p>Please use one of these files as input:'PNG','JPG','JPGE','PBM','PDF'</p>
	<p> {{warning}}</P>
    <form action="" enctype='multipart/form-data' method='POST'>
        <input type="file" name="file" style="margin-top:20px;"/>
        <br>
        <input type="submit" value="Upload" class="button-new" style="margin-top:15px;"/>
    </form>
</body>
</html>